<div class="navbar home">
    <ul>
        <li class="list element" id="home">Home</li>
        <li class="list element" id="forum">Forum 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
            <ul class="sub-menu">
                <li>Chat</li>
                <li>Requirements</li>
                <li>Complains</li>
            </ul>
        </li>
        <li class="list element" id="shop">Shop</li>
        <li class="list element" id="gallery">Gallery</li>
        <li class="list element" id="support">Support
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
            <ul class="sub-menu">
                <li>Game Rules</li>
                <li>Tips and Tricks</li>
            </ul>
        </li>
        <li class="list element" id="feedback element">Feedback</li>
    </ul>
</div>
